<div class="container">
  <p>
    contact- works!
  </p>
  <div class="row">
    <div class="col-md-4 col-sm-6 col-xs-12">
      <div style="background-color:floralwhite; border-radius:15px; margin: 10px 0px;">
        <i class="fa fa-home fa-5x" aria-hidden="true">
        </i>
        <span>Hello</span>
      </div>
    </div>
    <div class="col-md-4 col-sm-6 col-xs-12">
      <div style="background-color:floralwhite; border-radius:15px; margin: 10px 0px;">
        <i class="fa fa-phone fa-5x" aria-hidden="true"></i>
        <span>Hello</span>
      </div>
    </div>
      <div class="col-md-4 col-sm-6 col-xs-12">
        <div style="background-color:floralwhite; border-radius:15px; margin: 10px 0px;">
          <i class="fa fa-envelope fa-5x" aria-hidden="true"></i>
          <span class="col-md-12 center">Hello</span>
        </div>
      </div>
    </div>
  <div class="row">
    <div class="col-md-12 col-xs-12 col-sm-12 col-xl-12">
      <p  style="background-color:floralwhite; border-radius:15px; margin-right: 10px;">Goole Map</p>
    </div>
  </div>
</div>
<app-email></app-email>
