/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "~bootstrap/dist/css/bootstrap.min.css";
@import "~font-awesome/css/font-awesome.css";
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

body { margin: 0; }

body {
  line-height: 24px;
  font-size: 14px;
  font-family: "Roboto", sans-serif;
  font-weight: normal;
  color: #777777;
}

.pr-0 {
  padding-right: 0px !important;
}

.parallax-image { 
    /* Add This Class To Your Html Tag And Specify Your Image in Background Image CSS Element */
    height: 500px; 
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
