<section class="email">
  <div class="row">
    <div class="container">
      <div class="row row-edge">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <h2 style="text-align: center;">mail us</h2>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <div role="form" class="wpcf7" lang="en-US" dir="ltr">
            <div class="screen-reader-response"></div>
            <form action="/#wpcf7-f493-p5-o3" method="post" class="wpcf7-form" novalidate="novalidate">
              <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                  <div class="row row-edge">
                    <div class="col-lg-12 col-md-8 col-sm-12 col-xs-12">
                      <span class="form-control-wrap "><input type="text" name="your-name" value="" size="40" class="form-control"
                          aria-required="true" aria-invalid="false" placeholder="Your Name"></span>
                    </div> <br /><br />

                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                      <span class="form-control-wrap"><input type="email" name="your-email" value="" size="40" class="form-control"
                          aria-required="true" aria-invalid="false" placeholder="Email"></span>
                    </div> <br /><br />

                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                      <span class="form-control-wrap"><input type="tel" name="phone" value="" size="40" class="form-control"
                          aria-required="true" aria-invalid="false" placeholder="Phone"></span>
                    </div> <br /><br />
                  </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                  <span class="form-control-wrap">
                    <textarea name="your-message" cols="40" rows="8" class="form-control" aria-required="true" aria-invalid="false" placeholder="Your message">
                  </textarea>
                  </span>
                </div>
              </div><br />
              <div class="row justify-content-center">
                <div class="col-lg-3 col-md-3 col-xs-3 col-sm-3">
                  <input type="submit" value="Send" class="form-control btn btn-outline-info"><span class="ajax-loader"></span>
                </div><br /><br />
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
